@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">There is some text to present our great application.</h1>
    <p>In order to start, please, click the <a href="/Home/Question">link</a></p>
</div>
