@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text text-lg-center">
    <h1 class="display-8">
        This excercise is for a light hearted self-evaluation only! Please don't take it too seriously and we hope you leave this questionnaire with a positive attitude of hepling one another. <br /> We need to reflect and connect through this Social Mirror tool!
    </h1>
    <br />
    <button1 onclick="location.href ='/Home/Question'">Start Reflecting</button1>
</div>

