@model SocialMirror.Models.LoginModel

@{
    ViewData["Title"] = "Registration";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>

<h1>Registration</h1>

<hr />
<div class="align-self-center">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Registration">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <br />
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark "
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="SignIn" class="text-black-50">Already have an account?Sign In</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
