
@{
    ViewData["Title"] = "The results";
    
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet1.css">
</head>

<div class="text-center">
    <p1>The results.</p1>
</div>
<br />
<br />
  

<p>Your points number is @ViewData["Points"]</p>
<p>The description: @ViewData["Description"]</p>
    




